{:deps {com.amazonaws/aws-java-sdk-cloudwatch {:mvn/version "1.11.399"}
        lib                                   {:git/url    "git@github.com:kennyjwilli/clj-exclusions.git"
                                               :sha        "75604cc5457fd74efd4779db280240b33f4ccac0"
                                               :exclusions [commons-logging/commons-logging]}
        #_#_compute/integrations                    {:git/url    "git@github.com:ComputeSoftware/integrations.git"
                                                 :sha        "e0b915e5e9b285d322b6d01231d8e4e468550d76"
                                                 :exclusions [commons-logging/commons-logging]}}}
